In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
URL = "https://listado.mercadolibre.com.ar/samsung#D[A:samsung]"
page = requests.get(URL)

In [ ]:
# page.content

In [ ]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
?? BeautifulSoup.find_all

In [ ]:
soup.find_all("li", class_="ui-search-layout__item shops__layout-item ui-search-layout__stack")

[]

In [ ]:
resultados = soup.find_all("li", class_="ui-search-layout__item shops__layout-item ui-search-layout__stack")

¿Qué es resultados?

función type y ??

Entonces, ¿puedo acceder a los elemntos que encontré?

In [ ]:
len(resultados)

54

In [ ]:
resultados[0].findChildren('h2')

In [ ]:
resultados[0].findChild(class_="andes-money-amount__fraction")

In [ ]:
resultados[0].findChild('h2').getText()

'Samsung Galaxy S21 Fe Blanco 5g'

In [ ]:
resultados[0].findChildren(class_="andes-money-amount__fraction")[2]

¿Por qué hay dos?

Es la oferta, en la página se ve así

![image.png]()

Entonces, si hay dos queremos agarrar el segundo.

In [ ]:
for elem in resultados:
  titulo = elem.findChild('h2').getText()
  precios = elem.findChildren(class_="andes-money-amount__fraction")
  if len(precios) > 1:
    precio = precios[1].getText()
  else:
    precio = precios[0].getText()
  print(titulo, precio, "\n")

Samsung Galaxy A54 5G 256 GB  Awesome graphite 8 GB RAM 874.999

Samsung Galaxy A04 128 GB Negro 4 GB RAM 259.999

Samsung Galaxy A14 128GB Negro 4GB RAM 293.799

Samsung Galaxy A04s 4 + 128gb Color Verde 314.999

Samsung Galaxy A15 4G Dual SIM 128 GB  azul oscuro 6 GB RAM 310.500

Samsung Galaxy A05 64 GB  verde claro 4 GB RAM 269.999

Samsung Galaxy A34 128gb 6gb Ram Awesome Silver  569.999

Samsung Galaxy A24 128 Gb Light Green 4 Gb Ram 524.999

Samsung Galaxy S22 Ultra 256 Gb  Phantom Black 12 Gb Ram 1.099.999

Samsung Galaxy A32 128 Gb  Azul 4 Gb Ram 277.099

Celular Samsung Galaxy A04 64gb 4gb Color Verde 180.499

Samsung Galaxy A23 5G 5G 128 GB  awesome black 4 GB RAM 453.299

Samsung Galaxy A04e 3+64gb 6,5 Pulgadas Octa-core Color Black 194.500

Samsung Galaxy A54 5G 128 GB  awesome graphite 8 GB RAM 624.999

Celular Samsung Galaxy A04 128gb 4gb Ram Negro 247.799

Samsung Galaxy S23 Ultra 5G 256 GB  cream 12 GB RAM 1.645.599

Samsung Galaxy S20 Fe 128 Gb  Cloud Navy 6 Gb Ram 340.951

Samsung Galaxy S23 Fe 256gb 8gb Ram Negro 1.120.000

Samsung Galaxy A52 128 Gb  Awesome White 6 Gb Ram 365.299

Samsung Galaxy S21 Fe 128gb 5gb Violeta Reacondicionado 522.399

Samsung Galaxy S23 Plus 8gb 256gb Color Cream 1.964.999

Samsung Galaxy A14 (Mediatek) 5G 128 GB  black 4 GB RAM 434.899

Samsung Galaxy A04e 64gb 3gm Ram Negro 244.999

Celular Samsung Galaxy A23 Pantalla 6.6in 128gb - 5.000 Mah Color Negro 359.999

Samsung Galaxy S21 Ultra 5g 256 Gb Phantom Black 12 Gb Ram 957.079

Samsung Galaxy A05 Dual SIM 128 GB  negro 4 GB RAM 232.999

Samsung Galaxy S21 Fe Blanco 5g 862.445

Samsung Galaxy S20 Fe 128 Gb Cloud Navy 6 Gb Ram Liberado 406.041

Samsung Galaxy A05 128gb Black 299.999

Samsung Galaxy A04s Dual SIM 128 GB  blanco 4 GB RAM 314.999

Samsung Galaxy A25 5G Dual SIM 256 GB  Azul oscuro 8 GB RAM 513.911

Celular Samsung Galaxy S21 Fe 128 Gb Black 6 Gb Ram Liberado 494.427

Samsung Galaxy A03 128 GB Negro 4 GB RAM 279.000

Smart Tv Samsung 50 Un50cu7000gczb Led 4k 587.499

Samsung Galaxy S10e 128 Gb Prism Black 6 Gb Ram Liberado 274.079

Celular Samsung Galaxy A03 Liberado 64 Gb Octa - Core Color Azul 230.000

Samsung A52 Bueno Negro Liberado 356.375

Samsung Galaxy A01 Color Negro 32 Gb Liberado 126.425

Samsung Galaxy S23 FE 128GB Mint 8GB RAM 1.164.999

Samsung Galaxy A02 32 Gb Blue 2 Gb Ram Liberado 134.697

Samsung Galaxy A15 5G 5G Dual SIM 128 GB  azul oscuro 6 GB RAM 355.000

Celular Samsung Galaxy A12 64gb 4gb Ram Blue Liberado  206.656

Samsung Galaxy A55 5G Dual SIM 256 GB azul oscuro 8 GB RAM 776.000

Samsung Galaxy S22 Ultra 5G (Snapdragon) 5G 512 GB  phantom black 12 GB RAM 1.849.999

Samsung Galaxy A54 5G Dual SIM 128 GB  awesome lime 8 GB RAM 645.139

Samsung Galaxy Z Fold5 512gb Black 2.499.999

Samsung Galaxy Note 20 256gb Gris Liberado 638.050

Samsung Galaxy A03 Core 32 GB  blue 2 GB RAM 226.000

Samsung Galaxy A22 5G 128 GB  gray 6 GB RAM 516.000

Samsung Galaxy S23 Ultra 12gb 512gb 5g Negro 2.020.000

Samsung Galaxy S21 128 Gb Violet 8 Gb Ram Liberado 659.320

Celular Samsung Galaxy A32 128gb + 4gb Super Amoled 90hz Color Azul 529.000

Samsung Galaxy S20+ 128gb Cosmic Black 8gb Ram Liberado 602.602

Samsung Galaxy A50 64 Gb White 4 Gb Ram Liberado 206.656

Agregamos info de cuotas?

In [ ]:
for elem in resultados:
  print(elem.findChildren(class_="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"))

[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ97.222</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ28.888</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ39.999</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ34.999</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ60.071</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ29.999</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 6‚ÄØcuotas de $‚ÄØ94.999</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ58.333</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ212.813</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ53.609</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ28.333</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ65.555</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 3‚ÄØcuotas de $‚ÄØ74.999</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ68.333</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 6‚ÄØcuotas de $‚ÄØ47.499</span></div>]
[]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ65.962</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ216.682</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ70.673</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ101.066</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 6‚ÄØcuotas de $‚ÄØ327.499</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ36.241</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 3‚ÄØcuotas de $‚ÄØ81.666</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ69.647</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ79.756</span></div>]
[]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ166.854</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ33.836</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 3‚ÄØcuotas de $‚ÄØ99.999</span></div>]
[]
[]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ41.202</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota promocionada en 6‚ÄØcuotas de $‚ÄØ51.894</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 9‚ÄØcuotas de $‚ÄØ75.555</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ22.839</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota promocionada en 6‚ÄØcuotas de $‚ÄØ42.780</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ29.697</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ10.535</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 6‚ÄØcuotas de $‚ÄØ194.166</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ11.224</span></div>]
[]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ17.221</span></div>]
[]
[]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota Simple en 6‚ÄØcuotas de $‚ÄØ124.812</span></div>]
[]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ53.170</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 6‚ÄØcuotas de $‚ÄØ37.666</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 6‚ÄØcuotas de $‚ÄØ86.000</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 3‚ÄØcuotas de $‚ÄØ780.000</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ54.943</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Cuota promocionada en 6‚ÄØcuotas de $‚ÄØ98.394</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ50.216</span></div>]
[<div class="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN"><span>Mismo precio en 12‚ÄØcuotas de $‚ÄØ17.221</span></div>]

Notar que sale toda la info html (<div class...) por que no le puse getText()

Entonces hasta ahora tenemos título, precio y cuotas. Vamos a ver cómo meterlo en un dataframe.

In [ ]:
df = pd.DataFrame(columns=['titulo','precio','cuotas'])


for elem in resultados:
  titulo = elem.findChild('h2').getText()
  precios = elem.findChildren(class_="andes-money-amount__fraction")

  if len(precios) > 1:
    precio = precios[1]
  else:
    precio = precios[0].getText()

  cuotas = elem.findChildren(class_="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN")
  if len(cuotas) > 0:
    cuotas = cuotas[0].getText()
  else:
    cuotas = ""

  nueva_fila = pd.Series({'titulo' : titulo , 'precio' : precio,'cuotas': cuotas})
  df = pd.concat([df,nueva_fila.to_frame().T], ignore_index=True)

In [ ]:
df

,titulo,precio,cuotas
0,Samsung Galaxy A54 5G 256 GB Awesome graphite...,[874.999],Mismo precio en 9‚ÄØcuotas de $‚ÄØ97.222
1,Samsung Galaxy A04 128 GB Negro 4 GB RAM,[259.999],Mismo precio en 9‚ÄØcuotas de $‚ÄØ28.888
2,Samsung Galaxy A14 128GB Negro 4GB RAM,[293.799],Mismo precio en 9‚ÄØcuotas de $‚ÄØ39.999
3,Samsung Galaxy A04s 4 + 128gb Color Verde,314.999,Mismo precio en 9‚ÄØcuotas de $‚ÄØ34.999
4,Samsung Galaxy A15 4G Dual SIM 128 GB azul os...,310.500,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ60.071
5,Samsung Galaxy A05 64 GB verde claro 4 GB RAM,[269.999],Mismo precio en 9‚ÄØcuotas de $‚ÄØ29.999
6,Samsung Galaxy A34 128gb 6gb Ram Awesome Silver,[569.999],Mismo precio en 6‚ÄØcuotas de $‚ÄØ94.999
7,Samsung Galaxy A24 128 Gb Light Green 4 Gb Ram,524.999,Mismo precio en 9‚ÄØcuotas de $‚ÄØ58.333
8,Samsung Galaxy S22 Ultra 256 Gb Phantom Black...,1.099.999,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ212.813
9,Samsung Galaxy A32 128 Gb Azul 4 Gb Ram,277.099,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ53.609
10,Celular Samsung Galaxy A04 64gb 4gb Color Verde,[180.499],Mismo precio en 9‚ÄØcuotas de $‚ÄØ28.333
11,Samsung Galaxy A23 5G 5G 128 GB awesome black...,[453.299],Mismo precio en 9‚ÄØcuotas de $‚ÄØ65.555
12,"Samsung Galaxy A04e 3+64gb 6,5 Pulgadas Octa-c...",[194.500],Mismo precio en 3‚ÄØcuotas de $‚ÄØ74.999
13,Samsung Galaxy A54 5G 128 GB awesome graphite...,[624.999],Mismo precio en 12‚ÄØcuotas de $‚ÄØ68.333
14,Celular Samsung Galaxy A04 128gb 4gb Ram Negro,[247.799],Mismo precio en 6‚ÄØcuotas de $‚ÄØ47.499
15,Samsung Galaxy S23 Ultra 5G 256 GB cream 12 G...,[1.645.599],
16,Samsung Galaxy S20 Fe 128 Gb Cloud Navy 6 Gb Ram,[340.951],Cuota Simple en 6‚ÄØcuotas de $‚ÄØ65.962
17,Samsung Galaxy S23 Fe 256gb 8gb Ram Negro,1.120.000,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ216.682
18,Samsung Galaxy A52 128 Gb Awesome White 6 Gb Ram,365.299,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ70.673
19,Samsung Galaxy S21 Fe 128gb 5gb Violeta Reacon...,522.399,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ101.066
20,Samsung Galaxy S23 Plus 8gb 256gb Color Cream,[1.964.999],Mismo precio en 6‚ÄØcuotas de $‚ÄØ327.499
21,Samsung Galaxy A14 (Mediatek) 5G 128 GB black...,[434.899],Mismo precio en 12‚ÄØcuotas de $‚ÄØ36.241
22,Samsung Galaxy A04e 64gb 3gm Ram Negro,244.999,Mismo precio en 3‚ÄØcuotas de $‚ÄØ81.666
23,Celular Samsung Galaxy A23 Pantalla 6.6in 128g...,359.999,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ69.647
24,Samsung Galaxy S21 Ultra 5g 256 Gb Phantom Bla...,[957.079],Mismo precio en 12‚ÄØcuotas de $‚ÄØ79.756
25,Samsung Galaxy A05 Dual SIM 128 GB negro 4 GB...,232.999,
26,Samsung Galaxy S21 Fe Blanco 5g,862.445,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ166.854
27,Samsung Galaxy S20 Fe 128 Gb Cloud Navy 6 Gb R...,[406.041],Mismo precio en 12‚ÄØcuotas de $‚ÄØ33.836
28,Samsung Galaxy A05 128gb Black,299.999,Mismo precio en 3‚ÄØcuotas de $‚ÄØ99.999
29,Samsung Galaxy A04s Dual SIM 128 GB blanco 4 ...,314.999,
30,Samsung Galaxy A25 5G Dual SIM 256 GB Azul os...,513.911,
31,Celular Samsung Galaxy S21 Fe 128 Gb Black 6 G...,[494.427],Mismo precio en 12‚ÄØcuotas de $‚ÄØ41.202
32,Samsung Galaxy A03 128 GB Negro 4 GB RAM,279.000,Cuota promocionada en 6‚ÄØcuotas de $‚ÄØ51.894
33,Smart Tv Samsung 50 Un50cu7000gczb Led 4k,[587.499],Mismo precio en 9‚ÄØcuotas de $‚ÄØ75.555
34,Samsung Galaxy S10e 128 Gb Prism Black 6 Gb Ra...,274.079,Mismo precio en 12‚ÄØcuotas de $‚ÄØ22.839
35,Celular Samsung Galaxy A03 Liberado 64 Gb Octa...,230.000,Cuota promocionada en 6‚ÄØcuotas de $‚ÄØ42.780
36,Samsung A52 Bueno Negro Liberado,[356.375],Mismo precio en 12‚ÄØcuotas de $‚ÄØ29.697
37,Samsung Galaxy A01 Color Negro 32 Gb Liberado,[126.425],Mismo precio en 12‚ÄØcuotas de $‚ÄØ10.535
38,Samsung Galaxy S23 FE 128GB Mint 8GB RAM,1.164.999,Mismo precio en 6‚ÄØcuotas de $‚ÄØ194.166
39,Samsung Galaxy A02 32 Gb Blue 2 Gb Ram Liberado,[134.697],Mismo precio en 12‚ÄØcuotas de $‚ÄØ11.224
40,Samsung Galaxy A15 5G 5G Dual SIM 128 GB azul...,355.000,
41,Celular Samsung Galaxy A12 64gb 4gb Ram Blue L...,[206.656],Mismo precio en 12‚ÄØcuotas de $‚ÄØ17.221
42,Samsung Galaxy A55 5G Dual SIM 256 GB azul osc...,776.000,
43,Samsung Galaxy S22 Ultra 5G (Snapdragon) 5G 51...,1.849.999,
44,Samsung Galaxy A54 5G Dual SIM 128 GB awesome...,645.139,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ124.812
45,Samsung Galaxy Z Fold5 512gb Black,[2.499.999],
46,Samsung Galaxy Note 20 256gb Gris Liberado,[638.050],Mismo precio en 12‚ÄØcuotas de $‚ÄØ53.170
47,Samsung Galaxy A03 Core 32 GB blue 2 GB RAM,226.000,Mismo precio en 6‚ÄØcuotas de $‚ÄØ37.666
48,Samsung Galaxy A22 5G 128 GB gray 6 GB RAM,[516.000],Mismo precio en 6‚ÄØcuotas de $‚ÄØ86.000
49,Samsung Galaxy S23 Ultra 12gb 512gb 5g Negro,[2.020.000],Mismo precio en 3‚ÄØcuotas de $‚ÄØ780.000
50,Samsung Galaxy S21 128 Gb Violet 8 Gb Ram Libe...,[659.320],Mismo precio en 12‚ÄØcuotas de $‚ÄØ54.943
51,Celular Samsung Galaxy A32 128gb + 4gb Super A...,529.000,Cuota promocionada en 6‚ÄØcuotas de $‚ÄØ98.394
52,Samsung Galaxy S20+ 128gb Cosmic Black 8gb Ram...,[602.602],Mismo precio en 12‚ÄØcuotas de $‚ÄØ50.216
53,Samsung Galaxy A50 64 Gb White 4 Gb Ram Liberado,[206.656],Mismo precio en 12‚ÄØcuotas de $‚ÄØ17.221

Lo hacemos con todas las publicaciones?
Si vamosa a la página 2 de mercado libre, vemos que la url es

https://listado.mercadolibre.com.ar/samsung_Desde_51_NoIndex_True.

Y la página 3 es

https://listado.mercadolibre.com.ar/samsung_Desde_101_NoIndex_True

Vamos que el "desde_n" aumenta de a 50. Como hay 40 páginas enlistadas, saquemos los datos de todas!

Ahora armamos las URLS

In [ ]:
contador = 1
urls = []
for i in range(30):
  contador = contador + 50
  url_actual = f"https://listado.mercadolibre.com.ar/samsung_Desde_{contador}_NoIndex_True"
  print(url_actual)
  urls.append(url_actual)

https://listado.mercadolibre.com.ar/samsung_Desde_51_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_101_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_151_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_201_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_251_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_301_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_351_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_401_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_451_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_501_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_551_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_601_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_651_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_701_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_751_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_801_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_851_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_901_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_951_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1001_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1051_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1101_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1151_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1201_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1251_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1301_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1351_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1401_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1451_NoIndex_True
https://listado.mercadolibre.com.ar/samsung_Desde_1501_NoIndex_True

In [ ]:
# df = pd.DataFrame(columns=['titulo','precio','cuotas'])
for URL in urls:
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, "html.parser")
  resultados = soup.find_all("li", class_="ui-search-layout__item shops__layout-item ui-search-layout__stack")

  for elem in resultados:
    titulo = elem.findChild('h2').getText()
    precios = elem.findChildren(class_="andes-money-amount__fraction")

    if len(precios) > 1:
      precio = precios[1].getText()
    else:
      precio = precios[0].getText()

    cuotas = elem.findChildren(class_="ui-search-item__group__element ui-search-installments ui-search-color--LIGHT_GREEN")
    if len(cuotas) > 0:
      cuotas = cuotas[0].getText()
    else:
      cuotas = ""

    nueva_fila = pd.Series({'titulo' : titulo , 'precio' : precio,'cuotas': cuotas})
    df = pd.concat([df,nueva_fila.to_frame().T], ignore_index=True)

In [ ]:
df

,titulo,precio,cuotas
0,Samsung Galaxy S22 Ultra 256 Gb Phantom Black...,1.099.999,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ212.813
1,Samsung Galaxy A32 128 Gb Azul 4 Gb Ram,277.099,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ53.609
2,Samsung Galaxy A50 64 Gb White 4 Gb Ram Liberado,206.656,Mismo precio en 12‚ÄØcuotas de $‚ÄØ17.221
3,Samsung Galaxy A51 128 Gb White 4 Gb Ram Liberado,319.759,Mismo precio en 12‚ÄØcuotas de $‚ÄØ26.646
4,Samsung Galaxy A20s 32 Gb Negro 3 Gb Ram,180.539,Cuota Simple en 6‚ÄØcuotas de $‚ÄØ34.928
...,...,...,...
1655,"Smartwatch Samsung Galaxy Fit 3 Amoled 1,6'' D...",107.799,
1656,Toner Alternativo Para Samsung 104s Premium 16...,22.968,
1657,Juego De Filtros Para Aspiradora Samsung Vcma2...,17.499,
1658,Memorias Pc Ddr3 4gb 1333 Mhz 2rx8 Pc3 10600u...,13.500,
1659,Auriculares Para Celular Samsung iPhone Motoro...,2.837,

In [ ]:
df.to_excel('samsung.xlsx')